@import url('https://fonts.googleapis.com/css2?family=Economica&family=Josefin+Sans&family=Taviraj&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Taviraj, Josefin Sans, Economica, sans-serif;
    color: #384248;
}

#container {
    margin-top: 25px;
}

#logo-menu {
    height: 80px;
    width: 70%;
    background-color: #F5F4E6;
    border-radius: 6px;
    margin: 0 auto;
    box-shadow: 0 8px 13px -12px rgba(0, 0, 0, 0.56), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#logo {
    margin-left: 60px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    float: left;
    font-size: 280%;
    text-transform: uppercase;
    font-family: Economica, sans-serif;
    background-color: #384248;
    background-image: linear-gradient(45deg, #384248, #7E8479);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#menu {
    font-size: 110%;
    font-family: Josefin Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #384248;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu,
#logo {
    line-height: 85px;
}

#index-image-container {
    margin: 0;
}

#index-image {
    height: 600px;
    width: 100%;
    background: url('../images/index_big_img.jpg') no-repeat center center;
}