@import url('https://fonts.googleapis.com/css2?family=Economica&family=Josefin+Sans&family=Taviraj&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Taviraj, Josefin Sans, Economica, sans-serif;
    font-size: medium;
    color: #384248;
    background-color: #7E8479;
}

#logo-menu-container {
    margin-top: 25px;
    position: relative;
}

#logo-menu {
    height: 80px;
    width: 70%;
    background-color: rgba(245, 244, 230, 0.9);
    border-radius: 6px;
    margin: 0 auto;
    box-shadow: 0 8px 13px -12px rgba(0, 0, 0, 0.56), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#logo {
    margin-left: 60px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    float: left;
    font-size: 2.8em;
    text-transform: uppercase;
    font-family: Economica, sans-serif;
    background-color: #384248;
    background-image: linear-gradient(45deg, #384248, #7E8479);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#menu {
    font-size: 1.1em;
    font-family: Josefin Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #384248;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    font-weight: bold;
}

#menu,
#logo {
    line-height: 85px;
}

#index-image-outer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#index-image {
    height: 500px;
    width: 100%;
    background: url('../images/index_big_img_3.jpg') no-repeat center center;
    background-size: cover;
    margin-top: -110px;
    background-color: #384248;
}

#cards-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#products-cards-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#cards-header {
    text-align: center;
    font-size: 1.8em;
    font-family: Taviraj, sans-serif;
    margin: 30px;
}

#balcony-glazing-card,
#product-balcony-glazing-card {
    border-radius: 6px;
    margin-top: 50px;
    margin: 2%;
    margin-bottom: 50px;
    width: 33%;
    background-color: rgba(245, 244, 230);
    box-shadow: 0 8px 13px -12px rgba(0, 0, 0, 0.56), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#product-balcony-glazing-card {
    width: 70%;
}

#card-content {
    margin: 30px;
}

#product-card-content {
    margin: 30px;
}

#card-content a {
    text-decoration: none;
    color: inherit;
}

#card-content a:hover {
    font-weight: bold;
}

#balcony-glazing-card-image,
#product-balcony-glazing-card-image {
    background: url('../images/balcony_glazing.jpg') no-repeat center center;
    background-size: cover;
    height: 300px;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0 8px 13px -12px rgba(0, 0, 0, 0.56), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#product-balcony-glazing-card-image {
    background: url('../images/balcony_glazing_1.jpg') no-repeat center center;
    height: 400px;
    background-size: cover;
}

#product-balcony-glazing-card-video {
    height: 300px;
    width: 40%;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0 8px 13px -12px rgba(0, 0, 0, 0.56), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#terrace-glazing-card,
#product-terrace-glazing-card {
    border-radius: 6px;
    margin-top: 50px;
    margin: 2%;
    margin-bottom: 50px;
    width: 33%;
    background-color: rgba(245, 244, 230);
    box-shadow: 0 8px 13px -12px rgba(0, 0, 0, 0.56), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#product-terrace-glazing-card {
    width: 70%;
}

#terrace-glazing-card-image {
    background: url('../images/terrace_glazing_2.jpg') no-repeat center center;
}

#product-terrace-glazing-card-image {
    background: url('../images/terrace_glazing.jpg') no-repeat center center;
}

#terrace-glazing-card-image,
#product-terrace-glazing-card-image {
    background-size: cover;
    height: 300px;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0 8px 13px -12px rgba(0, 0, 0, 0.56), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#footer-outer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#footer {
    font-size: 1.1em;
    font-family: Josefin Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #384248;
    text-align: center;
    line-height: 85px;
    background-color: rgba(245, 244, 230);
    height: 80px;
    width: 70%;
    border-radius: 6px;
    box-shadow: 0 8px 13px -12px rgba(0, 0, 0, 0.56), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#footer a {
    text-decoration: none;
    color: inherit;
}

#footer a:hover {
    font-weight: bold;
}


/* Landscape phones and down */
@media (max-width: 480px) {
    #logo-menu {
        height: 150px;
        width: 90%;
        margin-top: 10px;
    }

    #logo {
        font-size: 2em;
        top: 30%;
    }

    #menu {
        font-size: 1em;
        letter-spacing: 2px;
    }

    #menu li {
        margin-right: 20px;
    }

    #menu,
    #logo {
        line-height: 50px;
    }

    #index-image {
        margin-top: -230px;
    }

    #cards-outer,
    #product-cards-outer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #balcony-glazing-card,
    #terrace-glazing-card,
    #product-balcony-glazing-card,
    #product-terrace-glazing-card {
        width: 90%;
    }

    #footer {
        font-size: 1em;
        letter-spacing: 2px;
        line-height: 50px;
        height: 100%;
        width: 90%;
        padding: 5px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    #logo-menu {
        width: 90%;
        height: 150px;
    }

    #logo {
        font-size: 2em;
        top: 50%;
        overflow: hidden;
    }

    #menu {
        font-size: 1em;
        letter-spacing: 2px;
    }

    #menu li {
        margin-right: 20px;
    }

    #menu,
    #logo {
        line-height: 80px;
    }

    #index-image {
        margin-top: -230px;
    }

    #cards-outer,
    #product-cards-outer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #balcony-glazing-card,
    #terrace-glazing-card,
    #product-balcony-glazing-card,
    #product-terrace-glazing-card {
        width: 90%;
    }

    #footer {
        font-size: 1em;
        letter-spacing: 2px;
        line-height: 50px;
        height: 100%;
        width: 90%;
        padding: 5px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    #logo-menu {
        width: 90%;
    }

    #logo {
        font-size: 2em;
        top: 50%;
        overflow: hidden;
    }

    #menu {
        font-size: 1em;
        letter-spacing: 2px;
    }

    #menu li {
        margin-right: 20px;
    }

    #menu,
    #logo {
        line-height: 80px;
    }

    #index-image {
        margin-top: -230px;
    }

    #cards-outer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #balcony-glazing-card,
    #terrace-glazing-card {
        width: 90%;
    }

    #footer {
        font-size: 1em;
        letter-spacing: 2px;
        line-height: 50px;
        height: 100%;
        width: 90%;
        padding: 5px;
    }
}

/* Large desktop */
@media (min-width: 1200px) {
    ...
}